@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>



<h4>How We "Protect*" You</h4>

<p>When you entrust your banking details and sensitive information, 
    you can count on us to do our part to help shield you and your accounts 
    from would-be fraudsters. From using the latest HTML technology to offering state-of-the-art identity alerts, we offer multiple layers of identity and 
    fraud protection. Our Bank respects your privacy and is committed too
    protecting it with our privacy policies.</p>

<sub>* There is nothing secure about this since no authentication or authorization is enforced...</sub>
